footer {
  display: flex;
  flex-direction: column;
  gap: 2.19rem;
  justify-content: space-between;
  align-items: center;
  background: var(--orange);
  padding: 3.75rem 12.5rem;
}

footer .content {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

footer .logo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.62rem;
}

footer p {
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  font-family: var(--gilroy);
  color: white;
  transition: 0.2s;
}

footer p:hover{
  color: var(--light-gray);
  transition: 0.2s;
}

footer .links {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}

footer .links a {
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  color: white;
  font-family: var(--poppins);
  transition: 0.2s;
}

footer .links a:hover {
  transition: 0.2s;
  color: var(--light-gray);
}

footer .contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.62rem;
  transition: 0.2s;
}

footer .contact {
  scale: 0.98;
  transition: 0.2s;
}

footer .contact_txt {
  color: white;
  font-family: var(--poppins);
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

footer .contact_number {
  color: white;
  font-family: var(--open-sans);
  font-size: 1rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

footer .social_media {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
  transition: 0.2s;
}

footer .social_media_img {
  transition: 0.2s;
}

footer .social_media_img:hover {
  transition: 0.2s;
  scale: 0.90;
}

/* Mobile */
@media (max-width: 480px) {
  footer {
    padding: 1.75rem 2.5rem;
  }

  footer .content {
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
  }

  footer .links {
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
  }

  footer .contact {
    gap: 0.62rem;
    align-items: center;
  }
}

/* Tablet */
@media (min-width: 481px) and (max-width: 768px) {
  footer {
    padding: 2.75rem 4.5rem;
  }

  footer .links {
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
  }

  footer .contact {
    flex-direction: column;
    gap: 0.62rem;
    align-items: center;
  }
}

/* Laptop  */
@media (min-width: 769px) and (max-width: 1024px) {
  footer {
    padding: 3.75rem 7.5rem;
  }

  footer .links {
    flex-direction: column;
    gap: 1.75rem;
    align-items: center;
  }

  footer .contact {
    flex-direction: column;
    gap: 0.62rem;
    align-items: center;
  }
}
